// Created: 03/17/2021. This script is taken from my previous website portfolio, which used the Bootstrap "Landkit" theme. The only code I took from that script is for the home page "hero" video, which I added on 10/20/2020.

// Start Bootstrap ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

i.bi:before { vertical-align: middle; } // Vertically center the Bootstrap icons in the Résumé/Summary section. Source: https://stackoverflow.com/questions/17478710/vertical-alignment-of-text-and-icon-in-button#17479613 Added: 04/25/2021.

// End Bootstrap ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Start Hero Video ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Source: https://startbootstrap.com/snippets/video-header/ Added: 10/20/2020.

section#hero.hpVideo {
	padding: 0;
}

section#hero.hpVideo div.container-fluid { padding: 0; }
section#hero.hpVideo div.container-fluid video#videoMobile { display: none; }
section#hero.hpVideo div.container-fluid video#videoDesktop { display: block; object-fit: cover; height: 450px; width: 100%; }

@media only screen and ( max-width: 991px ) {
	section#hero.hpVideo div.container-fluid video#videoDesktop { display: none; }
	section#hero.hpVideo div.container-fluid video#videoMobile { display: block; height: 100%; margin: 0 auto; max-height: 450px; max-width: 800px; width: 100%; }
}

// End Hero Video ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Start Portfolio Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.portfolio .portfolio-wrap:before { // No semi-transparent white overlay when hovering over the portfolio items.
	background-color: transparent !important;
}

// Start zoom-in on portfolio images on hover.
div.portfolio-wrap img.img-fluid {
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}
div.portfolio-wrap:hover img.img-fluid {
	-webkit-transform: scale( 1.40 );
	-moz-transform: scale( 1.40 );
	-ms-transform: scale( 1.40 );
	-o-transform: scale( 1.40 );
	transform: scale( 1.40 );
}
// Sources: CSS.txt https://stackoverflow.com/questions/54190149/how-to-zoom-image-on-hover-with-css#54190398 Added: 04/10/2021.
// End zoom-in on portfolio images on hover.

// End Portfolio Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Start Portfolio Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

section#resume div#resumeSummary ul { list-style-type: none; padding: 0; margin: 0; }

// End Portfolio Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Start Tech Stack Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

div.row.skills-content div.progress i.val { display: none; } // Hide the percentages. Added: 05/31/2021.

// End Tech Stack Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
