// Created: 03/17/2021. This script is taken from my previous website portfolio, which used the Bootstrap "Landkit" theme. The only code I took from that script is for the home page "hero" video, which I added on 10/20/2020.

// Universal ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

textarea { resize: none; } // Added: 07/18/2021.

// About Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

section#about div.row { justify-content: center; } // Added: 07/18/2021.

// Bootstrap ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

i.bi:before { vertical-align: middle; } // Vertically center the Bootstrap icons in the Résumé/Summary section. Source: https://stackoverflow.com/questions/17478710/vertical-alignment-of-text-and-icon-in-button#17479613 Added: 04/25/2021.

// Contact Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

form#homePageContactForm button[ type="submit" ] { width: 180px; }

// Start loading spinner.
.loader {
	border: 6px solid #dcdcdc; /* The spinner's background width and color. */
	border-radius: 50%;
	border-top: 6px solid transparent; /* The spinner's foreground width and color. */
	margin: 0 auto; /* To center the spinner. */
	width: 22px; /* The spinner's width. */
	height: 22px; /* The spinner's height. 50px is a good button height for a spinner that's 30px X 30px. */
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate( 0deg ); }
	100% { -webkit-transform: rotate( 360deg ); }
}

@keyframes spin {
	0% { transform: rotate( 0deg ); }
	100% { transform: rotate( 360deg ); }
}
// Source: https://www.w3schools.com/howto/howto_css_loader.asp Added: 07/23/2021.
// End loading spinner.

// Start "change the autocompleted styles in Chrome." This was needed for the "Email" field on the home page's contact form.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid #ced4da;
	-webkit-text-fill-color: #212529; /* Text color. */
	-webkit-box-shadow: 0 0 0px 1000px white inset; /* Input field background color. */
	transition: background-color 5000s ease-in-out 0s;
}
// Source: CSS.txt. Added: 07/23/2021.
// End "change the autocompleted styles in Chrome."

// Footer Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and ( min-width: 992px ) {
	footer#footer { padding-left: 86px; } // Center the <footer> text. The padding-left is to compensate for the left sticky navbar's width, to match the other sections. Added: 07/05/2021.
}

// Hero Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Start video.
section#hero.hpVideo { padding: 0; }
section#hero.hpVideo div.container-fluid { padding: 0; }
section#hero.hpVideo div.container-fluid video#videoMobile { display: none; }
section#hero.hpVideo div.container-fluid video#videoDesktop { display: block; object-fit: cover; height: 450px; width: 100%; }

@media only screen and ( max-width: 991px ) {
	section#hero.hpVideo div.container-fluid video#videoDesktop { display: none; }
	section#hero.hpVideo div.container-fluid video#videoMobile { display: block; height: 100%; margin: 0 auto; max-height: 450px; max-width: 800px; width: 100%; }
}
// Source: https://startbootstrap.com/snippets/video-header/ Added: 10/20/2020.
// End video.

// Portfolio Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.portfolio .portfolio-wrap:before { background-color: transparent !important; } // No semi-transparent white overlay when hovering over the portfolio items.

// Start zoom-in on portfolio images on hover.
div.portfolio-wrap img.img-fluid {
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}
div.portfolio-wrap:hover img.img-fluid {
	-webkit-transform: scale( 1.40 );
	-moz-transform: scale( 1.40 );
	-ms-transform: scale( 1.40 );
	-o-transform: scale( 1.40 );
	transform: scale( 1.40 );
}
// Sources: CSS.txt https://stackoverflow.com/questions/54190149/how-to-zoom-image-on-hover-with-css#54190398 Added: 04/10/2021.
// End zoom-in on portfolio images on hover.

// Resume Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

section#resume div#resumeSummary ul { list-style-type: none; padding: 0; margin: 0; }

// Services Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

img.servicesBackgroundShape { position: absolute; top: 0; left: 0; vertical-align: middle; width: 100px; height: 100px; } // Put the SVG shapes behind the service icons. I needed to do this when I switched to using .svg files instead of <svg> code. Source: The Bootstrap theme's CSS taken using DevTool's inspector. Added: 07/25/2021.

// The following hover transitions were all added on 07/25/2021, taken from the Bootstrap theme's CSS.
.services .iconbox-blue:hover img {
	filter: brightness( 0 ) saturate( 100% ) invert( 65% ) sepia( 47% ) saturate( 3730% ) hue-rotate( 182deg ) brightness( 102% ) contrast( 101% );
	transition: filter .1s ease-in-out;
}

.services .iconbox-orange:hover img {
	filter: brightness( 0 ) saturate( 100% ) invert( 88% ) sepia( 8% ) saturate( 6819% ) hue-rotate( 311deg ) brightness( 103% ) contrast( 101% );
	transition: filter .1s ease-in-out;
}

.services .iconbox-pink:hover img {
	filter: brightness( 0 ) saturate( 100% ) invert( 13% ) sepia( 100% ) saturate( 7138% ) hue-rotate( 328deg ) brightness( 92% ) contrast( 98% );
	transition: filter .1s ease-in-out;
}

.services .iconbox-yellow:hover img {
	filter: brightness( 0 ) saturate( 100% ) invert( 72% ) sepia( 86% ) saturate( 460% ) hue-rotate( 339deg ) brightness( 100% ) contrast( 102% );
	transition: filter .1s ease-in-out;
}

.services .iconbox-red:hover img {
	filter: brightness( 0 ) saturate( 100% ) invert( 51% ) sepia( 49% ) saturate( 5641% ) hue-rotate( 344deg ) brightness( 101% ) contrast( 101% );
	transition: filter .1s ease-in-out;
}

.services .iconbox-teal:hover img {
	filter: brightness( 0 ) saturate( 100% ) invert( 74% ) sepia( 65% ) saturate( 4044% ) hue-rotate( 131deg ) brightness( 108% ) contrast( 87% );
	transition: filter .1s ease-in-out;
}

// Tech Stack Section ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

div.row.skills-content div.progress i.val { display: none; } // Hide the percentages. Added: 05/31/2021.
